*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    background-image:url(./sara.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    padding: 10px;
}

.logo img{
      width: 40%;
      height:60%;
      margin-left: 100px;
}

.nav{
    display: flex;
    margin-right: 100px;
}

a{
    margin: 20px;
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.link img{
    width: 40%;
    height: 50%;
}

.link img:hover{
    color: black;
}

.content{
    width: 100%;
    display: flex;
    position: relative;
    bottom:80px;
    padding: 0px;
}

.text{
    width: 50%;
    font-size: 18px;
    font-weight: bold;
    color: white;
    height: auto;
    padding-top: 250px;
}

.text h1{
    font-size: 100px;
    text-align: center;
}

.text p{
    margin-left: 120px;
    line-height: 30px;
    
}

.btn{
    position: absolute;
    left: 120px;
    width: 15%;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 40px;
    border: none;
}

.images{
    padding: 5%;
    width: 50%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto ;
    gap: 30px 30px;
    /* position: relative; */
}

.pic{
    transition-property: all;
    width: 100%;
    height: 35vh;  
    position: relative;
}

.pic img{
    width: 80%;
    height: 35vh;
    border-radius: 20px;
}

.pic:hover{
    margin-top:-10px;
    transition-duration: 2s;
    
}

.pic img:hover{
    box-shadow: 5px 5px 10px rgb(80, 79, 79);
}

.imgtxt{
    width: 100%;
    color: white;
    top: 0;
    font-size: 14px;
    padding: 20px;
    position: absolute;
    line-height: 30px;
}


/* 320 to 480 mob */
/* 480 to 1000 tab */

/* @media (min-width: 30em) and (max-width: 50em) */

@media (min-width:480px) and (max-width:1000px)
{
    *{
        margin: 0;
        padding: 0;
    }
    
    .container{
        width: 100vw;
        height: 250vh;
        background-image:url(./sara.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .navbar{
        display: flex;
        justify-content:none;
        flex-flow: row wrap;
        text-align: justify;
        padding: 10px;
    }
    
    .logo img{
          width: 60%;
          height:60%;
          margin-left: 10px;
    }
    
    .nav{
        display: flex;
        margin-right:10%;
    }
    
    a{
        margin:10px;
        text-decoration: none;
        color: white;
        font-size: 16px;
    }
    
    a:hover{
        color: black;
    }
    
    .link img{
        width: 60%;
        height: 60%;
    }
    
    .link img:hover{
        display:none;
        color: black;
    }
    
    .content{
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        position: relative;
        bottom:0%;
        padding: 0px;
    }
    
    .text{
        width: 100%;
        font-size: 18px;
        font-weight: bold;
        color: white;
        height: auto;
        padding-top:7vh;

    }
    
    .text h1{
        font-size: 200%;
        text-align: start;
        margin-left:5%;
    }
    
    .text p{
        margin-left:5%;
        line-height: 30px;    
    }
    
    .btn{
        position: absolute;
        left:5%;
        width: 40%;
        padding: 3%;
        font-weight: bold;
        font-size: 20px;
        border-radius: 40px;
        border: none;
    }
    
    .images{
        padding: 5%;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: auto ;
        gap: 30px 30px;
    }
    
    .pic{
        top:10vh;
        transition-property: all;
        width: 100%;
        height: 35vh;  
        position: relative;
    }
    
    .pic img{
        width: 80%;
        height: 35vh;
        border-radius: 20px;
    }
    
    .pic:hover{
        margin-top:-10px;
        transition-duration: 2s;
        
    }
    
    .pic img:hover{
        box-shadow: 5px 5px 10px rgb(80, 79, 79);
    }
    
    .imgtxt{
        width: 100%;
        color: white;
        top: 0;
        font-size: 14px;
        padding: 20px;
        position: absolute;
        line-height: 30px;
    }

}

@media (min-width:320px) and (max-width:480px) {
    *{
        margin: 0;
        padding: 0;
    }

    .container{
        width: 100%;
        height: 230vh;
        background-image:url(./sara.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
     .navbar{
        width: 100%;
        margin-left:10%;
    }

    .logo{
        width:30%;
        height:30%;
    }
    
    .logo img{
        width:30%;
        height:30%;
        margin-left: 0px;
    }
    
    .nav{
        display:flex;
        margin-right:10%;
    }

    a{
        margin:4px;
        text-decoration: none;
        color: white;
        font-size: 12px;
    }
    
    a:hover{
        color: black;
    }
    
    .link img{
        width: 30%;
        height: 50%;
    }
    
    .link img:hover{
        color: black;
    }
    
    .content{
        width: 100%;
        position: relative;
        text-align: left;
        top: 5px;
        display: grid;
        grid-template-columns: auto;
    }
    
    .text{
        width: 100vw;
        font-size: 16px;
        font-weight: bold;
        color: white;
        text-align: left;
        padding-top: 0px;
    }
    
    .text h1{  
        font-size: 250%;
        margin-left: 5%;
        text-align: left;
    }
    
    .text p{
        line-height: 120%;
        margin-left: 5%;
    }
    
    .btn{
        position: absolute;
        left: 5%;
        width: 34%;
        padding: 3%;
        font-weight: bold;
        font-size: 120%;
        border-radius: 40px;
        border: none;
    }
    
    .images{
        padding: 5%;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: auto ;
        gap: 30px 30px;
    }
    
    .pic{
        top:10vh;
        transition-property: all;
        width: 100%;
        height: 35vh;  
        position: relative;
    }
    
    .pic img{
        width: 80%;
        height: 35vh;
        border-radius: 20px;
    }
    
    .pic:hover{
        margin-top:-10px;
        transition-duration: 2s;
        
    }
    
    .pic img:hover{
        box-shadow: 5px 5px 10px rgb(80, 79, 79);
    }
    
    .imgtxt{
        width: 100%;
        color: white;
        top: 0;
        font-size: 14px;
        padding: 20px;
        position: absolute;
        line-height: 30px;
    }
}    